<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <h3 class="text-center">Menu</h3>
            <hr>           
            <hr/>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item text-center">
                    <a routerLink="Analycer" class="nav-link active">
                       Analycer
                    </a>
                </li>
            </ul>
            <hr>
        </div>
        <div class="col-11">
            <calendar></calendar>
        </div>
    </div>
</div>