<div class="container-fluid">
    <div class="row">
        <div class="col-1">            
            <section>
                <h2 class="text-center">Menu</h2>
                <hr />
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item text-center">
                        <a routerLink="../Analycer" class="nav-link active btn-block btn btn-warning">Analycer</a>
                        <hr />
                    </li>                    
                    <li class="nav-item text-center">
                        <button class="nav-link active btn-block btn btn-secondary mb-4" (click)="downloadRemoteTransactions()">Sync Up</button>
                    </li>
                    <li>
                        <button class="nav-link active btn-block btn btn-secondary" (click)="backupTransactions()">Backup</button>
                    </li>
                </ul>
            </section>
            <hr>
        </div>
        <div class="col-11">
            <calendar #calendar></calendar>
        </div>
    </div> 
</div>
<notification-event #notificationComponent></notification-event>