<h3>Resume Month Transactions</h3>

<div class="container">
    <div class="row">
        <div class="col-6">
            <table class="text-center table table-striped table-bordered fixed-header">
                <thead>
                    <tr>
                        <th>
                            Spendings
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="scrollableTableTransaction">
                <table class="text-center table table-striped table-bordered fixed-header ">
                    <tr *ngFor="let spendTransactionAux of spendingsTransactions">
                        <th>
                            <p>{{spendTransactionAux.code}}</p>
                        </th>
                        <th>
                            <p>{{spendTransactionAux.amount}} €</p>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-6">
            <table class="text-center table table-striped table-bordered fixed-header">
                <thead>
                    <tr>
                        <th>
                            Incomings
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="scrollableTableTransaction">
                <table class="text-center table table-striped table-bordered fixed-header ">
                    <tr *ngFor="let incomingTransactionAux of incomingTransactions">
                        <th>
                            <p>{{incomingTransactionAux.code}}</p>
                        </th>
                        <th>
                            <p>{{incomingTransactionAux.amount}}€</p>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
