<div class="container-fluid m-4">
    <div class="row align-items-center">
        <div class="col-1">
            <select class="form-control" [(ngModel)]="yearSelected" id="year" name="year">
                <option *ngFor="let yearAux of yearsAvailables">{{yearAux}}</option>
            </select>
        </div>
        <div class="col-2">
            <button class="btn btn-danger" (click)="clearChart()">Clear</button>
            <button class="btn btn-success ms-2" (click)="addYearOutlaysSavings()">Add Year</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6 align-self-center">
            <h4>Savings Per Month</h4>            
            <canvas baseChart
                    [data]="savingChartPerMonthData"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [type]="barChartType"
                    (chartClick)="updateTransactionsResume($event)">
            </canvas>           
        </div>
        <div class="col-3">
            <resumeMonthTransaction #expenses></resumeMonthTransaction>        
            <resumeMonthTransaction #expenses2></resumeMonthTransaction>                 
        </div>
        
        <div class="col-3">
            <resumeMonthTransaction #incomings></resumeMonthTransaction>
            <resumeMonthTransaction #incomings2></resumeMonthTransaction>                 
        </div>
    </div>
</div>
<notification-event #notificationComponent></notification-event>
