<h4 *ngIf="isExpenses" class="text-center">
    <p><i>Expenses {{month}}/{{year}}:</i></p>
    <p><b>{{totalAmount}} €</b></p>
</h4>
<h4 *ngIf="!isExpenses" class="text-center">
    <p><i>Incomings {{month}}/{{year}}:</i></p>
    <p><b>{{totalAmount}} €</b></p>
</h4>
<div class="chart">  
    <canvas baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins">
    </canvas>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" (change)="toggleInvestTransactions()">
  <label class="form-check-label">Hide Invests</label>
</div>


