<h3>Transactions Calendar</h3>

<div *ngIf="transactionsCalendar.matrixCalendar.length == 0">
    <h3 class="alert">Calendar is not loaded!</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let weekDayAux of transactionsCalendar.weekDays" scope="col" class="text-center">
                {{weekDayAux}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let week of transactionsCalendar.matrixCalendar">
            <th *ngFor="let transactionDayAux of week">
                <div *ngIf="transactionDayAux.isTransactionAvailable">
                    <table class="table">
                        <thead *ngIf="transactionDayAux.isToday" class="border bg-warning">
                            <tr>
                                <th>
                                    <p><b>Day {{transactionDayAux.day}}</b></p>
                                </th>
                            </tr>
                        </thead>
                        <thead *ngIf="!transactionDayAux.isToday" class="border">
                            <tr>
                                <th>
                                    <p><b>Day {{transactionDayAux.day}}</b></p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <div class="list-group">
                                        <button *ngFor="let transactionAux of transactionDayAux.transactionArray" type="button" class="list-group-item list-group-item-action" (click)="openTransactionConfigModal(modalABMTransaction,transactionAux,undefined)">
                                            <div [ngSwitch]="transactionAux.typeTransaction">
                                                <div *ngSwitchCase="AdjustType">
                                                    <img src="{{PATH_IMG_ADJUST}}" /> {{toTransactionView(transactionAux)}}
                                                </div>
                                                <div *ngSwitchCase="IncomingType">
                                                    <img src="{{PATH_IMG_INCOMING}}" /> {{toTransactionView(transactionAux)}}
                                                </div>
                                                <div *ngSwitchCase="SpendType">
                                                    <img src="{{PATH_IMG_SPENDING}}" /> {{toTransactionView(transactionAux)}}
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <button type="button" class="btn btn-success" (click)="openTransactionConfigModal(modalABMTransaction, undefined, transactionDayAux.day)">+</button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="!transactionDayAux.isTransactionAvailable">
                    <p></p>
                </div>
            </th>
        </tr>
    </tbody>
</table>

<ng-template #modalABMTransaction let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Transaction Configuration</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeTransactionConfigurationModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form>
        <div class="modal-body">

            <div class="form-group">
                <label class="font-weight-bold" for="transactionType">Type</label>
                <select class="form-control" [(ngModel)]="transactionView.typeTransaction" id="transactionType" name="transactionType" #transactionType="ngModel" required>
                    <option *ngFor="let transactionType of transactionTypeMap | keyvalue">{{transactionType.value.type}}</option>
                </select>
                <div class="alert-danger" *ngIf="transactionType.invalid">Transaction type code not valid!</div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="transactionCode">Code</label>
                <select class="form-control" [(ngModel)]="transactionView.codeTransaction" id="transactionCode" name="transactionCode" #transactionCode="ngModel" required>
                    <option *ngFor="let transactionCodeMapAux of transactionCodesMap | keyvalue">{{transactionCodeMapAux.value.code}}</option>
                </select>
                <div class="alert-danger" *ngIf="transactionCode.invalid">Transaction code not valid!</div>
                <br>
                <button type="submit" class="btn btn-outline-success" (click)="openSetupTransactionTypes(setupTransactionsType)">Setup</button>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="amount">Amount €</label>
                <input type="number" class="form-control-plaintext" [(ngModel)]="transactionView.amount" #amount="ngModel" placeholder="€" id="amount" name="amount" required>
                <div class="alert-danger" *ngIf="amount.invalid">Amount not valid!</div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="description">Description</label>
                <input type="text" class="form-control-plaintext" [(ngModel)]="transactionView.description" placeholder="Text here" id="description" name="description">
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="openDeleteConfirmationModal(modalDeleteTransaction)">Delete</button>
            <div *ngIf="amount.invalid || transactionCode.invalid || transactionType.invalid">
                <button class="btn btn-outline-success disabled">Save</button>
            </div>
            <div *ngIf="!amount.invalid && !transactionCode.invalid && !transactionType.invalid">
                <button type="submit" class="btn btn-outline-success" (click)="save()">Save</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #modalDeleteTransaction let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Transaction</h4>
        <button type="button" class="close" aria-label="Close" (click)="responseDeleteTransaction(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <h3>Are you sure that want to delete transaction?</h3>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="responseDeleteTransaction(true)">Yes</button>
        <button type="button" class="btn btn-outline-success" (click)="responseDeleteTransaction(false)">No</button>
    </div>
</ng-template>

<ng-template #setupTransactionsType let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Setup Transactions Type</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModalSetupTransactions()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let codeAux of transactionCodesMap | keyvalue">
                    <th scope="col"><p>{{codeAux.value.code}}</p></th>
                    <th scope="col"><button type="submit" class="btn btn-outline-danger" (click)="deleteTransactionCode(codeAux.value.id)">Delete</button></th>
                </tr>
                <tr>
                    <th scope="col"><input type="text" value="" name="codeTransactionInput" [(ngModel)]="newCodeTransaction"/></th>
                    <th scope="col"><button type="submit" class="btn btn-outline-success" (click)="addTransactionCode(newCodeTransaction)">Add</button></th>
                </tr>
            </tbody>
        </table>
    </div>

</ng-template>

