<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-7">
            <form class="mt-1">
                <div class="form-group">
                    <h1>Login</h1>
                </div>
                <div class="form-group">
                    <label>Login</label>
                    <input type="text" class="form-control" aria-describedby="login" placeholder="Enter login" [(ngModel)]="userLogin" required="required">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="userPassword" required="required" />
                </div>
                <div class="mt-1">
                    <button type="submit" class="btn btn-outline-success" (click)="login()">Login</button>
                </div>                    
            </form>
        </div>      
    </div> 
</div>
<notification-event #notificationComponent></notification-event>