<h3>Resume Outlays</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Incoming</th>
            <th scope="col">Expenses</th>
            <th scope="col">Saving</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> <p>{{incomingView}}€</p></td>
            <td> <p>{{expensesView}}€</p></td>
            <td> <p>{{savingView}}€</p></td>
        </tr>
        <tr>
            <th scope="row">Total Amount</th>
            <td colspan="2"> <p>{{totalAmountView}}€</p></td>
        </tr>
</table>